faiss-cpu
bitarray
datasets
gitpython
sacrebleu
ninja==1.10.2
scipy
spacy
tqdm
transformers
ujson
beautifulsoup4
nltk
boto3
openai>=0.27.4
Flask
flask-restful
flask-cors
flask-limiter
tenacity
python-dateutil
matplotlib
text-generation
pymongo